html,
body {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #5275a9;
  overflow: hidden;
}
.big-flower {
  max-height: 500px;
  margin: 35px;
  aspect-ratio: 1/1;
}
.flower {
  max-height: 200px;
  aspect-ratio: 1;
  position: fixed;
  top: -30px;
  right: -40px;
}
.flower-two {
  max-height: 200px;
  aspect-ratio: 1;
  position: fixed;
  bottom: -30px;
  right: -40px;
}
.new {
  text-align: center;
  color: #fff;
  background-color: rgb(230, 126, 34);
  display: none;
  transition: 0.75s;
  overflow-y: visible;
  font-family: "Zeyada", cursive;
}
.section {
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 58px;
}
.section-container-relative {
  position: relative;
}
.section-one .hello-kitty {
  aspect-ratio: 1.5;
  width: 400px;
}
.section-one .text {
  font-size: 78px;
  margin-top: 18px;
}
.section-text {
  position: relative;
  animation: slide-up-text 0.5s forwards;
}
.hello-kitty {
  position: relative;
  animation: fade-in-kitty 0.5s forwards;
}
@keyframes slide-up-text {
  0% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}
@keyframes fade-in-kitty {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-one .flowers-two {
  aspect-ratio: 1;
  width: 160px;
  position: absolute;
  bottom: -8px;
  right: -104px;
  transform: rotate(45deg);
}
.section-two {
  font-size: 68px;
}
.section-three .sleeping {
  position: absolute;
  right: -114px;
  top: 16px;
  aspect-ratio: 1.8;
  width: 200px;
  transform: rotate(30deg);
}
.section-four .moon {
  position: absolute;
  aspect-ratio: 1;
  width: 200px;
  bottom: 20px;
  left: -80px;
}
.section-five .cake {
  position: absolute;
  right: -100px;
  bottom: 8px;
  aspect-ratio: 1;
  width: 160px;
  transform: rotate(-10deg);
  z-index: 1;
}
.section-six .cat {
  position: absolute;
  right: -140px;
  top: -8px;
  aspect-ratio: 1;
  width: 160px;
  transform: rotate(20deg);
  z-index: 1;
}
.section-seven .flowers {
  position: absolute;
  left: -160px;
  top: -25px;
  aspect-ratio: 1;
  width: 220px;
  transform: rotate(25deg);
}
.section-eight .perfect {
  position: absolute;
  right: -180px;
  top: 90px;
  aspect-ratio: 1;
  width: 200px;
  transform: rotate(20deg);
}

.section-nine .heart {
  aspect-ratio: 1;
  width: 740px;
  transition: 0.75s;
}
.section-nine .heart:hover,
.section-nine .heart-hovered {
  transform: rotate(6deg);
}
.section-nine .text {
  position: absolute;
  bottom: -30px;
  right: 0;
  transform: rotate(-10deg);
}
.section-nine .arrow {
  position: absolute;
  width: 70px;
  bottom: 180px;
  right: 120px;
  transform: rotate(70deg);
}

.checkbox-container .text {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 16px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
.input {
  display: none;
}
.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background: lightgray;
  border-radius: 20px;
}
.circle {
  width: 34px;
  background: white;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation: toggleOff 0.4s ease forwards;
  cursor: pointer;
}
.toggle {
  position: absolute;
  top: 17px;
  left: 420px;
  cursor: pointer;
}

.input:checked + .label {
  background-color: rgb(140, 60, 60);
}
.input:checked + label .circle {
  animation: toggleOn 0.4s ease forwards;
  cursor: pointer;
}
@keyframes toggleOn {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translate(40px);
  }
  100% {
    transform: translate(0);
  }
}

.new {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}

.emphasis-blue {
  color: #5275a9;
}
.emphasis-yellow {
  color: #f1c40f;
}
.emphasis-red {
  color: #e74c3c;
}
.emphasis-bronze {
  color: #e67e22;
}
.emphasis-pink {
  color: #e84393;
}
.emphasis-purple {
  color: #6c5ce7;
}
