html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
}
.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #5275a9;
  overflow: hidden;
}
.big-flower {
  max-width: 500px;
  margin: 35px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 560px) {
  .big-flower {
    width: calc(100% - 80px);
  }
}
.flower {
  max-height: 200px;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 380px) {
  .flower {
    display: none;
  }
  .flower-two {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.flower-two {
  max-height: 200px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}
.new {
  text-align: center;
  color: #fff;
  background-color: rgb(230, 126, 34);
  display: none;
  transition: 0.75s;
  overflow-y: visible;
  font-family: "Zeyada", cursive;
}
.section {
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 58px;
  box-sizing: border-box;
  padding: 0 18px;
}
.section-container-relative,
.section-container-relative-one {
  display: grid;
  place-items: center;
  position: relative;
}
.section-one .hello-kitty {
  aspect-ratio: 1.5;
  width: 400px;
}
.section-one .text {
  font-size: 78px;
  margin-top: 18px;
}
@media screen and (max-width: 430px) {
  .section h1 {
    font-size: 58px !important;
  }
  .section-one .hello-kitty {
    width: calc(100% - 40px);
  }
  .section-one .flowers-two {
    width: 80px !important;
    bottom: 40px !important;
  }
  .section-container-relative .thankful {
    top: -120px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .section-seven .flowers,
  .section-eight .perfect,
  .section-four .moon {
    top: -160px !important;
  }
  .section-nine .arrow {
    bottom: -100px !important;
    transform: rotate(90deg) !important;
  }
}
.section-text {
  position: relative;
  animation: slide-up-text 0.5s forwards;
}
.hello-kitty {
  position: relative;
  animation: fade-in-kitty 0.5s forwards;
}
@keyframes slide-up-text {
  0% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}
@keyframes fade-in-kitty {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-one .flowers-two {
  aspect-ratio: 1;
  width: 160px;
  position: absolute;
  bottom: -8px;
  right: -104px;
  transform: rotate(45deg);
}
@media screen and (max-width: 484px) {
  .section-one .flowers-two {
    right: -50px !important;
  }
}
@media screen and (max-width: 369px) {
  .section-one .flowers-two {
    right: 0 !important;
  }
}
.section-two {
  font-size: 68px;
}
.section-three .sleeping {
  position: absolute;
  right: -114px;
  top: 16px;
  aspect-ratio: 1.8;
  width: 200px;
  transform: rotate(30deg);
}
.section-four .moon {
  position: absolute;
  aspect-ratio: 1;
  width: 200px;
  bottom: 20px;
  left: -80px;
}
.section-five .cake {
  position: absolute;
  right: -100px;
  bottom: 8px;
  aspect-ratio: 1;
  width: 160px;
  transform: rotate(-10deg);
  z-index: 1;
}
.section-six .cat {
  position: absolute;
  right: -140px;
  top: -8px;
  aspect-ratio: 1;
  width: 160px;
  transform: rotate(20deg);
  z-index: 1;
}
.section-seven .flowers {
  position: absolute;
  left: -160px;
  top: -25px;
  aspect-ratio: 1;
  width: 220px;
  transform: rotate(25deg);
}
.section-eight .perfect {
  position: absolute;
  right: -180px;
  top: 90px;
  aspect-ratio: 1;
  width: 200px;
  transform: rotate(20deg);
}

.heart-link {
  display: grid;
  place-items: center;
}
.section-nine .heart {
  aspect-ratio: 1;
  width: 740px;
  transition: 0.75s;
}
.section-nine .heart:hover,
.section-nine .heart-hovered {
  transform: rotate(6deg);
}
.section-nine .text {
  position: absolute;
  bottom: -30px;
  right: 0;
  transform: rotate(-10deg);
}
.section-nine .arrow {
  position: absolute;
  width: 70px;
  bottom: 180px;
  right: 120px;
  transform: rotate(70deg);
}
@media screen and (max-width: 788px) {
  .section-nine .heart-link,
  .section-nine .heart {
    width: calc(100% - 40px);
  }
}
.heart-link {
  display: block;
}
.checkbox-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
}
@media screen and (max-width: 650px) {
  .flower {
    left: 0;
    bottom: 0;
    top: auto;
  }
}
.checkbox-container .text {
  margin: 0;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.new {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}

.emphasis-blue {
  color: #5275a9;
}
.emphasis-yellow {
  color: #f1c40f;
}
.emphasis-red {
  color: #e74c3c;
}
.emphasis-bronze {
  color: #e67e22;
}
.emphasis-pink {
  color: #e84393;
}
.emphasis-purple {
  color: #6c5ce7;
}

@media screen and (max-width: 670px) {
  .section-nine .arrow {
    bottom: 60px;
  }
  .section-nine .text {
    bottom: -140px;
  }
}
@media screen and (max-width: 510px) {
  .section-nine .arrow {
    bottom: -50px;
  }
  .section-nine .text {
    bottom: -240px;
  }
}
