body {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 15px 18px;
}
h1 {
  font-family: "Margarine", sans-serif;
  text-align: center;
  font-size: 48px;
  min-width: 260px;
}
